﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/jquery/scripts")
    @Scripts.Render("~/bundles/angular/scripts")
    @Scripts.Render("~/bundles/libs/scripts")
    @Scripts.Render("~/bundles/common/scripts")
    @RenderSection("Scripts", required: false)
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
</head>
<body ng-app="fileManagerApp">

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>