﻿@{
    ViewBag.Title = "File manager";
}

<h2>File Manager</h2>
<div ng-controller="fileManagerController">
    <div class="text-center">
        <p class="input-lg">{{path}}</p>
    </div>
    <div class="wrappanel">
        <ul>
            <li data-toggle="tooltip" data-placement="bottom" ng-repeat="drive in drivers" title="{{drive}}" class="hvr-pulse"
                 data-section="drive" data-name="{{drive}}" ng-click="openDrive($event)" repeat-directive>
                <img src="~/Content/Images/Airport_Drive.png" />
                <p>{{drive}}</p>
            </li>
        </ul>
    </div>
    <div class="wrappanel">
        <ul>
            <li data-toggle="tooltip" data-placement="bottom" title="Move to back" class="hvr-pulse" data-section="back" ng-click="moveToBack($event)">
                <img src="~/Content/Images/folder-back.png" />
                <p>...</p>
            </li>
            <li data-toggle="tooltip" data-placement="bottom" ng-repeat="directory in directories" title="{{directory}}" class="hvr-pulse" data-section="directory" data-name="{{directory}}" ng-click="openDirectory($event)" repeat-directive>
                <img src="~/Content/Images/folder-icon-512x512.png" />
                <p>{{directory}}</p>
            </li>
            <li data-toggle="tooltip" data-placement="bottom" title="{{file}}" class="hvr-pulse" ng-repeat="file in files" data-section="file" repeat-directive>
                <img src="~/Content/Images/File-512.png" />
                <p>{{file}}</p>
            </li>
        </ul>
    </div>
    <div class="container">
        <table class="summary">
            <caption>Summary</caption>
            <tr>
                <th>Directories</th>
                <th>Files</th>
                <th>Files&#60;10Mb</th>
                <th>10Mb&#60;Files&#60;50Mb</th>
                <th>Files&#62;100Mb</th>
            </tr>
            <tr>
                <td>{{directoriesCount}}</td>
                <td>{{filesCount}}</td>
                <td>{{filesLessBorder}}</td>
                <td>{{filesBetweenBorders}}</td>
                <td>{{filesMoreBorder}}</td>
            </tr>
        </table>
    </div>
</div>
