﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrappanel li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    max-width: 80px;
}

.wrappanel li img {
    width: 70px;   
    margin-right: 5px;
    max-width: 80px;
}

.wrappanel li p {
    text-align: center;
    font-size: 9pt;
    max-height: 20px; 
    max-width: 70px;
    overflow: hidden;
}

.wrappanel li:hover {
    background: orange;
    cursor: pointer;
}

.wrappanel li:hover p {
    color: white;
}

th, td {
   border: 1px solid black;
    padding: 0px 7px 0px 7px;
    text-align: center;
}
